:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* Pressed state > CTAs */
  --ocean-button-color: #404bbf;
  /* Primary Brand > CTAs, Focused, Active, states, Links */
  --iris-button-color: #4d5ae5;

  /* Hero background > Hero image background, Modal overlay, Overlay.
  Dark > Overlays, Shadows, Headings */
  --navy-blue-color: #2e2f42;
  /* Success > Valid fields, Success messages */
  --green-color: #31d0aa;
  /* Text > Body text */
  --slate-color: #434455;
  /* Subtle Text > Helper text, Deemphasized text */
  --light-slate-color: #8e8f99;
  /* Accent > Accent color, Hairlines, Subtle backgrounds*/
  --cornflower-color: #e7e9fc;
  /* Light > Light mode backgrounds. Light mode Dialogs/alerts */
  --cloud-background-color: #f4f4fd;
  /* White background > Header,  team card background */
  --white-color: #ffffff;
  /* Modal background  */
  --dairy-color: #fcfcfc;
}

/* ==================ul and link style configuration================== */

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
  /* padding: 0;
  margin: 0; */
  /* ... */
}

.link {
  text-decoration: none;
  /* ... */
}

/* ==================/ul and link style configuration================== */

body {
  font-family: var(--primary-font);
  background-color: var(--white-color);
  font-weight: 500;
  color: var(--slate-color);
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  /* Для секцій використовується один клас .section,
  в якому задані відповідні падінги, що відсувають контент всередину секції. */
}

/* a {
  display: flex;
} */

/* ==========================HEADER ========================== */

.page-header-container {
  display: flex;
  /* align-items: center; */
}

.nav-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
}

/* розташування в рядок хедера */
/* не працює */
.menu,
.contact-pc {
  display: flex;
  gap: 40px;
  align-items: center;
}

.adven-flex {
  display: flex;
}

/* не працює */
.menu-item:not(:last-child) {
  margin-right: 40;
}
/* Web logo part*/
.header-logo {
  font-family: var(--secondary-font);
  font-style: ExtraBold;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--iris-button-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* studio logo part */
.studio-logo {
  margin-right: 76;
  font-family: var(--secondary-font);
  font-style: ExtraBold;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--navy-blue-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.preform {
  letter-spacing: 0.03em;
}

/* footer formatting text */
.text-format {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--cloud-background-color);
  letter-spacing: 0.03em;
}

.menu-link {
  font-size: 16px;
  line-height: 1.5;
  color: var(--navy-blue-color);
  letter-spacing: 0.02em;
}

.but-list {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: var(--navy-blue-color);
  letter-spacing: 0.04em;
}

.contact-pc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--slate-color);
  margin-left: auto;
  margin-right: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu-link:is(:hover, :focus),
.contact-pc:is(:hover, :focus) {
  color: var(--ocean-button-color);
}

.contacts-normal {
  font-style: normal;
}

.contact-pc-second:is(:hover, :focus) {
  color: var(--ocean-button-color);
}

/* ==========================/HEAD ========================== */

/* header */
.top-header {
  font-style: normal;
  letter-spacing: 0.02em;
  font-style: normal;
}

/* ==========================HERO ========================== */
.hero {
  background-color: var(--navy-blue-color);
  letter-spacing: 0.03em;
  text-align: center;
  /* margin-left: auto;
  margin-right: auto; */
  margin-bottom: 48;
}

.basement {
  background-color: var(--navy-blue-color);
  letter-spacing: 0.03em;
  /* position: absolute; */
  width: 1440px;
  height: 312px;
  left: 0px;
  top: 2280px;
}

/* text hero 1 */
.hero-tittle {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: var(--white-color);

  letter-spacing: 0.02em;
  text-align: center;

  margin-top: 0;
  margin-bottom: 48;
  /* position: absolute;
  width: 496px;
  height: 120px;
  left: 472px;
  top: 260px; */

  /* outline: 2px solid red; */
}

/* Button Text */
.order-button {
  line-height: 1.5;
  font-family: var(--primary-font);
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: var(--iris-button-color);
  color: var(--white-color);

  display: block;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  /* position: absolute;
width: 169px;
height: 56px;
left: 636px;
top: 428px; */

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.but-primary:is(:hover, :focus) {
  background-color: var(--ocean-button-color);
  color: var(--white-color);
}

.contacts-sec {
  font-style: normal;
  margin-left: auto;
}

/* ==========================/HERO ========================== */

/* ==========================Scroll-section========================== */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.scroll-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
}

.scroll-title-description {
  font-style: 400;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}

.hum-devoloper {
  background-color: var(--white-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue-color);
}

.title-pages,
.scroll-section {
  padding-top: 120px;
  outline: 2px solid tomato;
  font-style: 500;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  color: var(--navy-blue-color);
  /* text-align: center; */
  text-transform: capitalize;
  letter-spacing: 0.02em;
  /* text-align: center; */
  /* margin-bottom: 72; */
  display: flex;

  /* задав падінг - появився зазор ще й і з верхнбою прихованою секцією */
  /* padding-bottom: 96px; */
}

.scroll-section {
  /* outline: 2px solid tomato; */
  /* width: 264px; */
  display: flex;
}

.team {
  padding-top: 120px;
  padding-bottom: 120px;
  background: var(--cloud-background-color);
  font-weight: 500;
  letter-spacing: 0.02em;
}

/* ==========================/Scroll-section========================== */


/* ========================What are we doing========================== */
.doing-alignment {
  flex-wrap: wrap;
  gap: 0px 24px;
  flex-basis: calc((100%-24px*2))/3;
}

/* =============================team================================ */

.team-alignment {
  flex-wrap: wrap;
  gap: 0px 24px;
  flex-basis: calc((100%-24px*3))/4;
}

/* лого підвалу */

.studio-logo.basement {
  font-family: var(--secondary-font);
  font-style: ExtraBold;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--cloud-background-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* ==========================portfolio========================== */


.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  flex-basis: calc((100%-24px*2))/3;

}

.head-logo-port {
  letter-spacing: 0.03em;
}

.but-item {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--cloud-background-color);
  color: var(--iris-button-color);
  font-family: var(--primary-font);

  letter-spacing: 0.04em;
  border: 1px solid var(--cornflower-color);
  border-radius: 4px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;

  width: 126px;
  height: 48px;
}

.sec-button:is(:hover, :focus) {
  color: var(--white-color);
  background-color: var(--ocean-button-color);
  cursor: pointer;
}
